extends layout

block content
 .container
   h1 Register
   p.lead
     | Register your account/
     form(role='form', action='/register', method='post')
       .form-group
         label(for='email') Email
         input.form-control(type='text', id='user', name='email', placeholder='enter a email')
       .form-group
         label(for='password') Password
         input.form-control(type='password', id='password', name='password', placeholder='enter a password')
       button.btn.btn-primary(type='submit') Submit